@media (max-width: 1023px)  /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */
{
    .imageIndex{
        width: 51em;
        height: 38em;
        background-size: cover;
        z-index: -1000;
    }
    #img_container{
        text-align: center;
        margin-top: 1em;
      }
      .slidercontainer { 
          height: auto;
          
           
         
         
          
      }  
      
      /*diapo 5*/
      .small_img_5{
          width: 25%;
       
          
          
      }
      .small_img_5:hover{
          cursor: pointer;
          
          
      }
     
      
      
      
      #diapo5_1 {
          background-image:
      
          url('royale/img_1.jpg');
          
          filter: brightness(1.3);
          
      }
      #diapo5_2 {
          background-image:
       
          url('royale/img_2.jpg');
         
          
          
      }
      #diapo5_3 {
          background-image:
        
          url('royale/img_3.jpg');
         
          
          
      }
      #diapo5_4 {
          background-image:
     
          url('royale/img_4.jpg');
         
          
          
      }
      #diapo5_5 {
          background-image:
     
          url('royale/img_5.jpg');
         
          
          
      }
      #diapo5_6 {
          background-image:
     
          url('royale/img_6.jpg');
         
          
          
      } 
      /*diapo 5*/
      /*diapo 6*/
      .small_img_6{
        width: 25%;
          
          
      }
      .small_img_6:hover{
          cursor: pointer;
          
          
      }
      #diapo6_1 {
          background-image:
      
          url('royale/img_1.jpg');
         
          filter: brightness(1.3);
          
      }
      #diapo6_2 {
          background-image:
       
          url('royale/img_2.jpg');
         
          
          
      }
      #diapo6_3 {
          background-image:
        
          url('royale/img_3.jpg');
         
          
          
      }
      #diapo6_4 {
          background-image:
     
          url('royale/img_4.jpg');
         
          
          
      }
      #diapo6_5 {
          background-image:
     
          url('royale/img_5.jpg');
          
          
          
      }
      #diapo6_6 {
          background-image:
     
          url('royale/img_6.jpg');
         
          
          
      }
        /*diapo 6*/
        /*diapo 7*/
      .small_img_7{
        width: 25%;
          
          
      }
      .small_img_7:hover{
          cursor: pointer;
          
          
      }
      #diapo7_1 {
          background-image:
      
          url('royale/img_1.jpg');
         
          filter: brightness(1.3);
          
      }
      #diapo7_2 {
          background-image:
       
          url('royale/img_2.jpg');
         
          
          
      }
      #diapo7_3 {
          background-image:
        
          url('royale/img_3.jpg');
         
          
      }
      #diapo7_4 {
          background-image:
     
          url('royale/img_4.jpg');
         
          
      }
      #diapo7_5 {
          background-image:
     
          url('royale/img_5.jpg');
         
          
      }
      #diapo7_6 {
          background-image:
     
          url('royale/img_6.jpg');
         
          
      }
        /*diapo 7*/
        /*diapo 8*/
      .small_img_8{
        width: 25%;
          
          
      }
      .small_img_8:hover{
          cursor: pointer;
          
          
      }
      #diapo8_1 {
          background-image:
      
          url('royale/img_2.jpg');
         
          filter: brightness(1.3);
          
      }
      #diapo8_2 {
          background-image:
       
          url('clemence/img_1.jpg');
         
          
          
      }
      #diapo8_3 {
          background-image:
        
          url('alexandra/img_2.jpg');
          
          
          
      }
      #diapo8_4 {
          background-image:
     
          url('elise/img_2.jpg');
          
          
          
      }
      #diapo8_5 {
          background-image:
     
          url('olympe/img_2.jpg');
         
          
          
      }
      #diapo8_6 {
          background-image:
     
          url('royale/img_6.jpg');
          
          
          
      }
        /*diapo 8*/
      
      #image_grid_container{
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
      }
  
  
  /* siteweb css*/
  /*button diapo all*/
  
  .button-Diapo1,.button-Diapo2{
    width: 1.5em;
    height: 2em;
    background-color: rgba(128, 128, 128, 0.479);
    border: none;
    font-size: 3em;
    border-radius: 10px;
    display: inline;
    margin: 10px;
  
  }
  .button-Diapo2{
    left: 78vw;
  } 
  
  /*button diapo all*/
}

 /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver *//* phone ver *//* phone ver */
/*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver */
@media (min-width: 1024px) 
{#img_container{
      text-align: center;
      margin-top: -1.5em;
    }
    .slidercontainer { 
        height: auto;
        
         
       
       
        
    }  
    
    /*diapo 1*/
    .small_img_1{
        width: 7%;
        height:5% ;
        
        
    }
    .small_img_1:hover{
        cursor: pointer;
        
        
    }
   
    
    
    
    #diapo1_1 {
        background-image:
    
        url('royale/img_1.jpg');
        width: 38em;
        height: 28em;
        background-size: cover;
        
        z-index: -1000;
        filter: brightness(1.3);
        
    }
    #diapo1_2 {
        background-image:
     
        url('royale/img_2.jpg');
        width: 38em;
        height: 28em;
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo1_3 {
        background-image:
      
        url('royale/img_3.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo1_4 {
        background-image:
   
        url('royale/img_4.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo1_5 {
        background-image:
   
        url('royale/img_5.jpg');
        width: 38em;
        height: 28em;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo1_6 {
        background-image:
   
        url('royale/img_6.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    } 
    /*diapo 1*/
    /*diapo 2*/
    .small_img_2{
        width: 7%;
        height:5% ;
        
        
    }
    .small_img_2:hover{
        cursor: pointer;
        
        
    }
    #diapo2_1 {
        background-image:
    
        url('royale/img_1.jpg');
        width: 38em;
        height: 28em;
        background-size: cover;
        
        z-index: -1000;
        filter: brightness(1.3);
        
    }
    #diapo2_2 {
        background-image:
     
        url('royale/img_2.jpg');
        width: 38em;
        height: 28em;
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo2_3 {
        background-image:
      
        url('royale/img_3.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo2_4 {
        background-image:
   
        url('royale/img_4.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo2_5 {
        background-image:
   
        url('royale/img_5.jpg');
        width: 38em;
        height: 28em;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo2_6 {
        background-image:
   
        url('royale/img_6.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
      /*diapo 2*/
      /*diapo 3*/
    .small_img_3{
        width: 7%;
        height:5% ;
        
        
    }
    .small_img_3:hover{
        cursor: pointer;
        
        
    }
    #diapo3_1 {
        background-image:
    
        url('royale/img_1.jpg');
        width: 38em;
        height: 28em;
        background-size: cover;
        
        z-index: -1000;
        filter: brightness(1.3);
        
    }
    #diapo3_2 {
        background-image:
     
        url('royale/img_2.jpg');
        width: 38em;
        height: 28em;
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo3_3 {
        background-image:
      
        url('royale/img_3.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo3_4 {
        background-image:
   
        url('royale/img_4.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo3_5 {
        background-image:
   
        url('royale/img_5.jpg');
        width: 38em;
        height: 28em;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo3_6 {
        background-image:
   
        url('royale/img_6.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
      /*diapo 3*/
      /*diapo 4*/
    .small_img_4{
        width: 7%;
        height:5% ;
        
        
    }
    .small_img_4:hover{
        cursor: pointer;
        
        
    }
    #diapo4_1 {
        background-image:
    
        url('royale/img_2.jpg');
        width: 38em;
        height: 28em;
        background-size: cover;
        
        z-index: -1000;
        filter: brightness(1.3);
        
    }
    #diapo4_2 {
        background-image:
     
        url('clemence/img_1.jpg');
        width: 38em;
        height: 28em;
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo4_3 {
        background-image:
      
        url('alexandra/img_2.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #diapo4_4 {
        background-image:
   
        url('elise/img_2.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo4_5 {
        background-image:
   
        url('olympe/img_2.jpg');
        width: 38em;
        height: 28em;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #diapo4_6 {
        background-image:
   
        url('royale/img_6.jpg');
        width: 38em;
        height: 28em;
        
        z-index: -1000;
        background-size: cover;
        
        
    }
      /*diapo 4*/
    
    #image_grid_container{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }


/* siteweb css*/
/*button diapo all*/

.button-Diapo1,.button-Diapo2{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: relative;
    top:-20vw;
    left: 15vw;
    cursor: pointer;

}
.button-Diapo2{
    left:78vw;
} 

/*button diapo all*/




/* siteweb css*/
/*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver */
}