@media (max-width: 320px) {
    #video {
        transform: scale(2);
        height: 67vh;
        width: 150vw;
    }
    #video_title {
        font-size: 2em;
        margin-top: 8em;
    }
}
@media (min-device-width: 321px) and (max-device-width: 425px) {
    #video {
        transform: scale(2);
        height: 65vh;
        width: 114vw;
    }
    #video_title {
        font-size: 2em;
        margin-top: 8em;
    }
}
@media (min-device-width: 321px) and (max-device-width: 768px) {
    #video {
        transform: scale(2);
        height: 32vh;
        width: 60vw;
    }
    #video_title {
        font-size: 4em;
        margin-top: 8em;
    }
}
@media (min-device-width: 768px) and (max-device-width: 1022px) {
    #video {
        transform: scale(2);
        height: 32vh;
        width: 60vw;
    }
    #video_title {
        font-size: 2em;
        margin-top: 8em;
    }
}
@media (max-device-width: 1023px) {
    .image_number {
        color: white;
        font-size: 3em;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
        margin: -7em 0 0 2em;
    }

    input::placeholder {
        color: rgb(165, 165, 165);

    }


    .siteWeb p {
        letter-spacing: 0.8px;
        line-height: 1.7em;
        font-size: 1em;
        font-style: normal;

        margin: 5% 10% 5% 2%;
    }



    #img_logo {
        margin-left: -0.2vw;
        margin-top: -0.5vw;
        border-radius: 2vw;
        width: 4vw;
        height: 4vw;
    }



    #image_div {
        position: relative;
        top: 100px;
    }



    #image_acceuil {
        background-image: url('./image video/chateau1.jpg');
        width: 100vw;
        height: 37vw;
        background-size: cover;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    article1 {
        width: 100vw;
        height: 30vh;


    }

    article1 h1 {
        margin-top: 15vw;
        text-align: center;
        text-transform: uppercase;
    }

    article1 div {
        text-align: center;
    }

    article1 div img {
        width: 45%;
        height: 45%;

    }


    .buttonDiv {
        height: 10vw;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    button.leftButton {
        background-color: rgb(231, 231, 224);
    }


    #contact_grid {
        display: grid;
        grid-template-columns: 20FR 20FR;
        margin-left: 30vw;
        margin-right: 30vw;
    }

    .underline_link {
        color: black;
        text-decoration-color: black;
        text-underline-offset: 10px;
        letter-spacing: 2px;
    }

    .underline_link:hover {
        color: rgb(184, 184, 184);
        text-decoration-color: rgb(184, 184, 184);
        text-underline-offset: 10px;
        transition: 0.3s;
    }

    #texte_accroche {
        margin: 0 20% 0 20%;
        letter-spacing: 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    p.video_text {


        font-size: 1.2em;
        font-family: 'Times New Roman', Times, serif;
        word-spacing: normal;
        overflow-wrap: break-word;
        text-align: justify;
        line-height: 1.5em;
        letter-spacing: 2px;
        padding: 2em;





    }


    h3 {

        word-spacing: normal;
        overflow-wrap: break-word;
        text-align: justify;
        margin: 5% 10% 0% 10%;
   
        color: black;
        background: none;


    }

    div#grid_item_one {}

    #grid_container_first {
        display: grid;

        margin: 7vh 2vw 2vw 2vw;
        grid-gap: 3em;
    }

    #grid_item_one {


        font-size: 2em;

    }

    .title_center {

        text-align: center;
        font-size: 3em;
    }


    #grid_item_two {
        font-size: 2em;

    }

    video {
        transform: scale(2);
        height: 32vh;
        width: 60vw;
    }




    p.transition_1 {
        /*  animation-duration: 1s;
        animation-name: fadein;*/
        font: normal 60px / 70px "Prata", Helvetica, Arial, Verdana, sans-serif;
        word-spacing: normal;
        overflow-wrap: break-word;
        text-align: justify;
        margin: 25% 10% 0% 10%;
        text-transform: uppercase;
        color: white;
        font-style: italic;


    }

    /*@keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }*/

    p.transition_2 {
        /* animation-duration: 2s;
        animation-name: fadein;*/
        font: normal 60px / 70px 'Times New Roman', Times, serif;
        word-spacing: normal;
        overflow-wrap: break-word;
        text-align: justify;
        margin: 0% 10% 0% 10%;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
    }

    /*@keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }*/

    #heading_top {
        margin: 9em 0 0 0;
        font-size: 2em;
        text-align: center;
        LETTER-SPACING: 2px;
    }
    #page_title {
        font-family: courgette;
        margin: 5em 0 1em 0;
        font-size: 2.5em;
        text-align: center;
        LETTER-SPACING: 2px;
        padding: 1em;
        border-bottom: solid black 2px;
        border-top: solid black 2px;
        width: auto;
        font-weight: normal;
    }
    #header_div {
        justify-content: center;
        display: flex;
    }
    .slidercontainer {
        margin-top: -9em;
        margin-bottom: 48em;
    }

    #bienvenue {

        margin: 4em;


    }

    #text_bienvenue {
        font-size: 3em;
        letter-spacing: 1.5px;
        line-height: 2em;
    }

    #map {
        width: 90%;
        margin-left: 5%;
        height: 20em;

    }
    textarea {
        font-size: 1.3em;
    }
    .imageIndex {
        width: 53em;
        height: 39.8em;
    }

    .h2 {
        letter-spacing: 3px;
    }

    #photo_chateau {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid_image {
        max-width: 100%;
        height: auto;

        filter: saturate(1.3) contrast(1.1);
    }
    #img_video {
        width: 60em;
        height: 40em;
        
    }
    .center_div {
        text-align: center;
    }

    .grid_image:hover {
        opacity: 0.7;
        transition: linear 0.2s;
        cursor: pointer;
    }

    #diapo_hidden {
        position: fixed;
        bottom: 10em;
        left: 19em;
    }

    #diapo_container {
        display: grid;
        grid-template-rows: 1fr;
        height: 100em;
        width: 100%;
        position: fixed;
        bottom: 0em;
        background-color: rgb(80, 78, 78);

    }

    #service_row_container {
        display: grid;
        grid-template-rows: 1fr 1fr ;
        margin-left: 1em;
        grid-gap: 2em;


    }

    .service_column_container {
        
        height: 30em;

    }

    .service_img {
        width: 20em;
        height: 20em;
        border-radius: 50%;
        margin-top: 1em;

    }



    .align_center {
        display: flex;
        justify-content: center;
        align-items: center;
     
    }

    .service_img:hover {

        filter: contrast(105%) brightness(105%);

        scale: 1.1;
        cursor: pointer;
        transition: linear 0.2s;
    }

    .service_img:not(:hover) {

        filter: contrast(100%) brightness(100%);

        scale: 1;
        cursor: pointer;
        transition: linear 0.2s;
    }

    #form {

        padding: 2em;
   
        font-size: 2.5em;
        background-color: #E6B596;
        color: white;
    }

    .margin_top_form {
        margin-top: 1em;
    }

    .input_style {
        font-size: 0.8em;
        border: solid gray 1px;
    }
    .radio_style {
        width: 1em;
        height: 1em;
    }

    .textarea_style {
        border: solid gray 1px;
    }

    #form_container {
    
    }

    #envoyer {
        padding: 1.5em 5em;
        margin: 4em;

        font-size: 0.7em;
        letter-spacing: 2px;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
        border: solid 1px black;
        background-color: white;
        border-radius: 2em;
    }

    #envoyer:hover {
        background-color: #2c2a2b;
        color: white;
    }

    .devis_titre {
        font-size: 2em;
    }

    #titre_video {
        font-size: 1.5em;
        letter-spacing: 3px;
    }

    .link_style {
        text-decoration: none;
        color: black;
        letter-spacing: 2px;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;


    }

}