
@media (max-width: 1023px){
    body{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    div.siteMobile{
        width: 1040px;
        height: auto;
        
    }
    #image_grid_container1{
        display: grid;
        grid-template-rows: 341px 341px 341px;
        margin-top: 10em;
        background-image:
            
            url(./clemence/img_1.jpg);
            width: 1038px;
            height: 1038px;
            background-size: cover;   
    }
    #welcome2{
        word-break: break-word;
        line-height: 90px;
        margin: 300px 40px 0 250px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        font-size:70px;
        text-shadow: 5px 5px black;
        color:white;
        
        
    }
   

    
    #pp{
        font-size: 4em; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: rgb(53, 53, 53);
    }
    #center{
        text-align: center;
    }
    .p0{
        font-size: 4em; 
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
       padding: 30px;
       margin:0;
       border-bottom: solid rgb(58, 58, 58) 4px;
       word-break: break-word;
       line-height: 90px;
    letter-spacing: 2px;
    color: black;
    font-style: italic;
    }
    #p1{
        font-family:Georgia, 'Times New Roman', Times, cursive;
        font-style:oblique ;
    }
    #img_01{
        width: 90%;
        height:80%;
        size-adjust:initial;
        margin-left: 4vw;
    }
   
   
    
    
    
    
   
    
        
    
    
    
    .grid-item{
        width: 1023px;
    }
    .grid-item a{
        color: black;
        text-underline-offset: 25px;
    }
    
   
    .grid-item .miniMenu{
        font-size: 3em;
        color: white;
    }
    .flex-item{
        
        align-items: center;
        
    }
    .grid--item,.grid--item1{
        margin:  70px;
         
         
        
     }
     
     .grid--item h2{
        font-family: 'Times New Roman', Times, serif;
         text-align: center;
         font-size: 4em;
         letter-spacing: 6px;
    font-weight: 100;
    word-spacing: 0.5em;
     }
     .grid-container .grid--item p{
         margin:0 1vw 0 3vw;
         line-height: 2.5em;
         font-size: 3em;
     }
     .chambre_button{
        border-radius: 5px;
        padding:1em;
        background-color: brown;
        color:rgb(255, 255, 255) ;
        border: solid brown 0.15vw;
        font-size:xx-large;
        font-family: Arial, Helvetica, sans-serif;
        transition: background-color 0.5s ease;
        transition: color 0.5s ease;
        transition: font-size 0.5s ease;
        transition: border 0.5s ease;
        letter-spacing: 2px;
     
     }
     .chambre_button:hover{
         cursor: pointer;
         background-color:white ;
         color: brown;
         transition: 0.3s ease ;
         font-size: xx-large;
        
         
     }
     .chambre_button a{
         text-decoration: none;
     }
     .buttonDiv{
         height: 10vw;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
     }
     button.leftButton{
         background-color: rgb(255, 255, 255);
     }
     .item2,.item6,.item3{
         
         background-color: rgb(255, 255, 255);
         margin-bottom:200px;
     }
     .item7{
         
         background-color: rgb(255, 255, 255);
         margin-bottom:200px;
     }
     .item10{
        
         background-color: rgb(255, 255, 255);
         margin-bottom:200px;
         margin-bottom:70px;
     }
     .button_chambre_div{
         display: flex;
         justify-content: center;
        
         
         padding:0;
         
        
     }
     .no_decoration{
        color: black;
        text-decoration: none;
    }
     .small_logos {
         width: 30px;
         height: 30px;
         padding-right:20px;
     }
     spann {
         font-size: 40px;
         color: green;
         margin-top:15px;
     }
     .chambre_info{
         
         margin:15px 0 15px 0;
     }
     .chambre_text{
         height: auto;
     }
     
       
       
        
        
    
    .image_chambre{
        height: 600px;
        width: 900px;
        
        background-size: cover;
    
    }
    #image_royale{
        background-image: url('royale/img_1.jpg');
        height: 675px;
        width: 900px;
        
        background-size: cover;
       
    }
    #image_alexandra{
        background-image: url('alexandra/img_1.jpg');
        height: 675px;
        width: 900px;
        
        background-size: cover;
    }
    #image_clemence{
        background-image: url('clemence/img_1.jpg');
        height: 675px;
        width: 900px;
        
        background-size: cover;
    }
    #image_elise{
        background-image: url('elise/img_1.jpg');
        height: 675px;
        width: 900px;
        
        background-size: cover;
    }
    #image_olympe{
        background-image: url('olympe/img_1.jpg');
        height: 675px;
        width: 900px;
        
        background-size: cover;
    }
    

    
 }
 
