@media (max-width:1023px) {
    .non-transparent {
        background-color: rgba(255, 255, 255, 1);
    }
    .flag {
        width: 20px; 
        height: auto; 
        margin-right: 8px;
    }
    select {
        padding: 5px;
        font-size: 16px;
    }
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
    #lienMille {
        width: 17em;
        height: 17em;
      
    }
    #align_center{
        text-align: center;
    }
    #recommandation {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        text-align: center;
        font-weight: normal;
    }
    h3 {
        font-family: 'times',sans-serif;
        margin: 1em 0 0 0;
        font-size: 4em;
        text-align: center;
        LETTER-SPACING: 2px;
        width: auto;
        font-weight: normal;
        color: black;
    }

   

    nav {
        position: relative;
        z-index: 100000;
    }

  


    .siteWeb {
        display: none;
    }

    div.siteMobile {
        width: 100%;
        height: auto;
        display: block;
    }

    html {
        width: max-content;
        height: max-content;

    }

    body {
        width: 1040px;
        height: max-content;
        background-color: white;
        position: static;
        z-index: -2;
        font-family: 'Times New Roman', Times, serif;

    }

    .headtitle a {
        display: none;
    }

    p {


        font-size: 50px;
    }

    /* bouton de navigation*/
    label.nav__toggle {
        position: fixed;
        top: 3em;
        z-index: 100;
        left: 5em;
    }

    label.nav__toggle:hover {
        cursor: pointer;

    }
    label.nav__toggle_2 {
   
    }

    label.nav__toggle_2:hover {
        cursor: pointer;

    }

    #label_div {
        position: fixed;
        left: 55em;
        top: 0em;
        z-index: 200;
        width: 154px;
        height: 154px;
        background-color: rgb(255, 255, 255);
        border: solid black 3px
    }

    /* bouton de navigation*/
    .nav_button {
        position: relative;
        top: 2em;
        left: 1.5em;
    }




    .nav__checkbox {
        display: none;
        position: fixed;
    }
    .nav__checkbox_2 {
      display: none;
    }  

    div.sidebar {

        top: 0px;
     
        align-items: center;
        width: 100%;
        height: 14em;
        opacity: 1;
        position: fixed;





    }
    #sidebar_first{
        background-color: white;
    border-bottom: 1px solid black;
    height: 200px;
    }

   

    .sidebarList .current {
        text-decoration: solid black underline 3px;
        text-underline-offset: 10px;
        color: black;
        font-weight: bold;

    }




    p.headtitle a {
        text-decoration: none;
        list-style: none;
        color: white;
        display: none;

    }

    p.headtitle {
        display: none;
    }

    .current {
        padding-top: 2em;
      border-top: solid grey 2px;
    }

    /*texte barre menu */
    div ul li a {
        text-align: left;


        box-sizing: border-box;

        align-items: center;






        letter-spacing: 5px;


    }

    div ul li a {


        text-decoration: none;


        background-color: rgb(255, 255, 255);
        /* padding: 80px 100px 80px 100px;*/
        color: #21436a;
       font-size: 50px;
        display: block;
        width: 1000vw;


        /* border: solid black 3px;*/

        margin-right: 0;


        transition: all 0.2s ease;


    }
    .sidebar_item_container_row {
        display: grid;
        grid-template-rows:auto;
        width: auto;
    }
    .sidebar_item {
        list-style-type: none;
        padding: 2rem;
       
    }
    .item_container_item_col {
        display: grid;
        grid-template-columns: 3fr 7fr;
        background-color: #FBF8F4;
        align-items: center;
        padding: 1rem;
    }
    a#bottomlist {
        border: solid black 3px;
    }

    /*texte barre menu */


    div ul li a:hover {
        background-color: #FBF8F4;
        color: #21436a;


    }

    div ul button {
        display: none;
        margin: 60px 0 60px 0;
    }

    img.imglogo {
        width: 9rem;
        height: 9rem;
        fill: rgb(255, 255, 255);
        display: block;
       
        z-index: 1000;
        padding-top: 2rem;
    }
.black_filter{
    width:1040px;
    position: absolute;
    left: 0px;
    z-index: 0;
    transition: 0.0001s;
    background-color: rgba(0, 0, 0, 0.41);
    height: 1000vh;
    top: 0vh;
    overflow: scroll;
}
.no_black_filter{
    width: 1040px;
    position: absolute;
    left: -2000px;
    z-index: 0;
    transition: 0.0001s;
    background-color: rgba(0, 0, 0, 0.41);
    height: 1000vh;
    top: 0vh;
    overflow: scroll;
}
    /*bouton voir tarrif*/
    button.buttonNavbar {
        color: black;
        background-color: white;

        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        border: solid white;
        border-radius: 2px;
        
        width: 70em;
        height: 5em;
        margin: 70px 0 70px 0;

    }
#index {
    padding-left: 5rem;
}
    .menu_link {
        position: relative;
        background-color: #FBF8F4;
    }

    .reserver_button {
        display: none;
    }
    #phone2 {
        width: 2em;
        height: 2em;
     
        border-radius: 6em;
        border: solid rgb(224, 156,79);
        padding: 1em;
        background-color: white;
    }



    /*bouton voir tarrif*/
    /*Liste menu item*/

    /*nab button*/
    #nav__checkbox:checked~div.siteMobile {

        display: hidden;
    }

    #nav__checkbox:checked~div li a {
        opacity: 1;

        transition: all 0.3s ease;
        display: block;
        position: relative;
        background-color: #ffab40;

        right: 0px;

        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        font-size: 50px;
        color: white;
       
        border: solid #ffab40 5px;




    }

    #nav__checkbox:checked~#label_div {
        background-color: rgb(112, 112, 112);
    }

    #nav__checkbox:not(:checked)~#label_div {
        background-color: rgb(255, 255, 255);
    }

    #nav__checkbox:not(:checked)~div li a {

        position: relative;
        right: -1100px;
        z-index: 100;
        transition: all 0.3s ease;
        text-decoration: none;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        font-size: 50px;
        color: white;
        border: solid #ffab40 5px;
        background-color: #ffab40;

    }
    .nav_icon {
        width: 5rem;
        height: 5rem;
       
    }


    .black_bg {
        background-color: white;
        position: relative; /* Keep it fixed in place */
        top: 0; /* Align to the top */
        left: 0;
       z-index: 1000002;
        transition: all 0.5s ease-in-out;
        top: 0vh;
        overflow-x: hidden; /* Enable vertical scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-wrap: break-word;
        height: 325vh;
    }
    
    .no_bg {
        position: relative;
      
        top: 0; /* Align to the top */
        left: -2000px;
        z-index: 10000;
        
        transition: all 0.5s ease-in-out;
        background-color: white;
        height: 1000vh;
        top: 0vh;
        overflow-y: auto; /* Enable vertical scrolling */
    }

    .navbar_ {
        display: block;
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: 13rem;
        background-color: none;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .no_navbar {
display: none;
transition: all 0.5s ease-in-out;
    }


    ul.sidebarList {

        height: 0px;

    }

    .nav_background {

        width: 0px;
        height: 0px;
        position: relative;

    }

    #nav__checkbox:not(:checked)~#nav_background {

        position: relative;
        right: -1100px;
        top: 43px;
        transition: all 0.3s ease;
        width: 1040px;
        height: 3000px;
        background-color: white;
        transition: all 0.3s ease;

    }



    label.nav__toggle .close {
        display: none;
        width: 7rem;
        fill: rgb(5, 5, 5);
    }

    #nav__checkbox:checked~label.nav__toggle .close {
        display: block;


    }

    label.nav__toggle .menu {
        width: 7rem;
        height: 7rem;
        fill: rgb(5, 5, 5);
        display: block;
    }

    #nav__checkbox:checked~label.nav__toggle .menu {
        display: none;


    }
.close{
    position: relative;
    top: 3em;
    left: 55em;
}


    /*nab button*/
    /* nav title*/

    #navTitle {
        position: fixed;
        z-index: 100;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: 0.5em;
        left: 5em;

        font-size: 45px;
        letter-spacing: 5px;
        font-weight: 1000;
    }

    /* nav title*/
    /*video*/

    /*video*/


    /*general properties*/
    .grid-item {
        margin: 0 0 0 0;

    }

    .grid-item p {


        line-height: 90px;
        margin: 80px 40px 80px 40px;

        letter-spacing: 2.5px;

    }

    .grid-item h1 {
        display: flex;
        justify-content: center;
        font-size: 70px;

        letter-spacing: 3px;
        border-bottom: solid white 8px;
        padding-bottom: 20px;
    }

    .adresse {

        letter-spacing: 3px;

    }


    /*footer */

    #footer_grid {
        background-color: #f9d3b9;
        background-size: 100%;
        width: 100%;
        margin: 8em 0 0 0;
        padding: 0 0 5em 0;
        border-top: solid (143, 143, 143) 4px;
    }

    #grid_footer {
        display: grid;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        margin: 0 0 0 0;
        grid-gap: 1.5vw;
    }

    .grid_footer_item {
        text-align: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        margin: 2vw 0 5vw 0;
        font-size: 1vw;
    }

    .grid_footer_item li a {
        color: rgb(0, 0, 0);
        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;
        overflow: hidden;
        transform: scale(1);
        font-size: 1vw;
    }

    .footer_heading {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
    }

    .grid_footer_item a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;
        font-size: 60px;
        transition: color 0.3s;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
    }

    .footer_p {
        word-break: break-word;
        line-height: 90px;
        margin: 40px 40px 40px 70px;
        font-family: "Prata", Helvetica, Arial, Verdana, sans-serif;
        letter-spacing: 2px;
        color: rgb(0, 0, 0);
        font-size: 60px;

    }

    #img_logo_footer {
        height: 100em;
        border-radius: 50em;
    }

    /*footer */
    /*general properties*/

    /*alarm animation */

    #alert_div {
        animation-duration: 0.5s;
        animation-name: slidein;
        animation: slidein 2s timing-function delay iteration-count direction ease-in;
    }

    @keyframes slidein {
        0% {
            margin-top: 0px;

        }

        25% {

            margin-top: 40px;

        }

        50% {

            margin-top: 80px;

        }

        75% {

            margin-top: 120px;

        }

        100% {
            margin-top: 160px;

        }
    }

    /*alarm animation */
    #ouverture {
        position: relative;
        left: 58vw;
        width: 700px;
        text-transform: uppercase;
        margin: 0;
        color: green;
        font-size: 2.5em;
    }

    #translate1 {
        position: absolute;
        right: 8em;
        top: 3.5em;
    }

    #translate_img {
        height: 4.5em;
    }




}
@media (min-device-width: 500px) and (max-device-width: 767px)
{
body{
    width: 1200px;
}
}