@media (max-width: 1023px) {
    #page_title {
        font-family: 'Playfair Display', sans-serif;
        margin: 4em 0 0 0;
        font-size: 3.5em;
        text-align: center;
        LETTER-SPACING: 2px;
        width: auto;
        font-weight: normal;
    }

    #header_div {
        justify-content: center;
        display: flex;
    }

    #page_title_2 {
        font-family: 'Playfair Display', sans-serif;
        margin: 4em 1em 0 1em;
        font-size: 3em;
        text-align: center;
        LETTER-SPACING: 2px;
        width: auto;
        font-weight: BOLD;
    }

    #button_container {
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-gap: 1em;
        margin: 1em 1em;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 2em;
    }

    .button_pdf p a:not(:hover) {
        color: brown !important;
        transition: linear 0.2s;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.2em;
    }

    .button_pdf p a:hover {
        color: rgb(237, 126, 126) !important;
        transition: linear 0.2s;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1em;
    }

    .button_pdf p {
        margin: 0 !important;
        color: brown !important;
        font-size: 3em;
        text-underline-offset: 5px;
    }

    .button_pdf {
        margin: 2em 0;
        border: none;
        padding: 1em;
        justify-content: center;
        align-items: center;
        background: repeat padding-box border-box 0 0/auto auto scroll linear-gradient(145deg, rgb(248, 158, 56), hsla(71, 48%, 89%, 0)), #f9d3b9;
        border-radius: 50px;
    }

    .link {
        text-decoration: underline black 1.5px;
        text-underline-offset: 10px;
        font-size: 2.5em;
        line-height: 2em;
        letter-spacing: 2px;
        color: black;
        font-weight: bold;
    }

    .link:hover {
        color: rgb(181, 181, 181);
        text-decoration: underline rgb(181, 181, 181) 1.5px;
        transition: linear 0.3s;
    }

    .img_container {
        display: grid;
        grid-template-columns: 1FR 1FR 1FR;
        grid-gap: 1em;
        margin: 2em 2em;
    }

    .align_center {
        margin: 1em 0em;
    }

    .p_center {
        padding: 0px 2em;
    }

    .p_style {
        margin: 3em 0;
        font-size: 3em;
        line-height: 1.5em;
        letter-spacing: 2.5px;
    }

    .img_left {
        display: grid;
        grid-template-rows: 0.2fr 0.4fr 0.4fr ;
        padding: 2em 4em;
        grid-gap: 1em;

    }

    .text_grid_left {
        margin-left: 3em;
    }

    .img_right {
        display: grid;
        grid-template-rows: 0.2fr 0.4fr 0.4fr ;
        padding: 2em 4em;
        grid-gap: 1em;
    }

    .grid_image {
        max-width: 100%;
        height: 140vw;

    }

    .grid_image_2 {
        max-width: 100%;
        height: 91vw;
    }

    .center_img {

        text-align: center;
    }

    .h_grid {
        margin-bottom: 1em;
        font-size: 3em;
        letter-spacing: 3px;
        font-weight: normal;
        margin-top: 0;
        text-transform: uppercase;
        font-family: "georgia";
    }

    .p_grid {
        font-size: 3em;
        line-height: 1.5em;
        letter-spacing: 2px;
    }

    .div_text {
        padding: 0 2em 2em 2em;
    }

    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    .slidercontainer {
        margin-top: -3em;
        margin-bottom: 48em;
    }

    .slide3_1 {
        position: absolute;
        transition: ease-in 1.5s;
        left: 6em;
    }

    #image_grid_container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 13.5em;
    }

    #diapo3_1 {
        background-image: url(image_index/1.JPG);

        background-size: cover;
    }

    #diapo3_2 {
        background-image: url(image_index/1.JPG);
        background-size: cover;
    }

    #diapo3_3 {
        background-image: url(image_index/1.JPG);
        background-size: cover;
    }

    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    /*Code diapo */
    /*Code diapo */

}