@media only screen and (min-device-width: 1024px) and (max-device-width: 1999px){
    #heading_top {
        margin: 6em 0 2em 0;
        font-size: 1.5em;
        text-align: center;
        LETTER-SPACING: 2px;
        padding: 1em;
        border-bottom: solid black 2px;
        border-top: solid black 2px;
        width: auto;
        font-weight: normal;
    }
    #header_div {
        justify-content: center;
        display: flex;
    }
}
@media only screen and (min-width: 2000px){
    #heading_top {
        margin: 6em 0 3em 0;
        font-size: 3em;
        text-align: center;
        LETTER-SPACING: 2px;
        padding: 1em;
        border-bottom: solid black 2px;
        border-top: solid black 2px;
        width: auto;
        font-weight: normal;
    }
    #header_div {
        justify-content: center;
        display: flex;
    }
}

@media only screen and (min-width: 2000px){
    body{
        background-color: rgb(255, 255, 255);
        overflow-x:hidden;
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #000000;
        
    }
    #img_logo{
        
        margin-left: -0.2vw;
        margin-top: -0.5vw;
        border-radius: 2vw;
        width: 4vw;
        height: 4vw;
        float: left;
    }
    .input_style {
        display: inline;
    }
    
    
    
    
    
    
    #img_div{
        position: relative;
        top: 100px;
    }
    #img_hebergement_background{
       
        width: 100vw;
        height: 37vw;
        background-image: url(./image\ video/chateau1.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        color: white;
        letter-spacing: 0.5vw;
        
    }
    
    
    
    
    article1{
        width: auto;
        height: auto;
        
       
    }
    article1 h1{
        text-align: center;
        text-transform: uppercase;
    }
    article1 div{
        text-align: center;
    }
    article1 div img{
        width:45%;
        height:45%;
        
    }
    
     #img_01{
         width: 90%;
         height:80%;
         size-adjust:initial;
         margin-left: 4vw;
     }
     
    
    
    
    .grid-container2{
        display:grid;
        grid-template-columns: 0.5fr 0.5fr;
        margin:10vw 2vw 2vw 3vw;
        grid-gap: 1vw;
    }
    .grid--item{
       margin:  3vw 0 3vw 0;
       border: solid rgb(143, 143, 143) 1.5px;
       width:46vw;
       height:auto;
      
        
        
       
    }
    .grid--item img{
      
    }
    .grid--item h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 3em;
        font-family:  Helvetica, Arial, Lucida, sans-serif;
        
    }
    .grid--item p{
        margin:0 1vw 0 1vw;
        line-height: 2vw;
        font-size: 2em;
    }
    /*Contact form CSS*/
    .row{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    }
    .row-items{
        padding: 0 0 0 1em;
        font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
        font-size: 2em;
        width:22vw;
    }
    .column{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        margin:0 0 1em 0;
        width:46vw;
    }
    textarea{
        width:42vw;
    }
    label,input,textarea{
        text-align: left;
        display:flex;
    }
    input,textarea{
        border:solid rgb(119, 119, 119) 1px;
        
    }
    input:hover,textarea:hover,input:focus,textarea:focus{
        border:solid rgb(248, 158, 56) 1px !important;
    }
    .half {
        width:20vw;
        height:2em;
        font-size: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    input::placeholder {
        color: gray;
        font-size: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      textarea#message::placeholder {
        color: gray;
        font-size: 1em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      textarea#message{
          font-size: 1.5em;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    #objet{
        margin-bottom: 2em;
        width:40vw;
        height:3em;
    }
    #envoyer{
        margin: 2em 0 2em 1em;
       
        width:90%;
        height:3em;
            border-radius: 2px;
            background-color: rgb(248, 158, 56);
            color: rgb(255, 255, 255);
            border: solid rgb(248, 158, 56) 1px;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
            
            letter-spacing: 2px;
            transition: width 2s ease;
            transition: letter-spacing 1s ease;
            transition: all 0.5s ease;
            padding-left: 25%;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       
    }
    input#envoyer[value="ENVOYER MON MESSAGE"] {
         
         font-size: 2em;
         
        }​
    #envoyer:hover{
        background-color: rgb(196, 104, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .item1{
        background-color: rgba(77, 1, 1, 0.815);
        color: white;
    }
    .item2{
        background-color: #b38353;
        color: white;
    }
    
    /*Contact form CSS*/
    
    
    /*map CSS*/
    #map{
        margin:40px;
        width: 40vw;
        height: 40vw;
    }
    /*map CSS*/
    
    
    
    .div_message{
        margin-top: 10vw;
        text-align: center;
        align-items: center;
        width:100%;
        height:500px;
        
    }
    #retour{
        margin: 2em 0 2em 1em;
        width: 90%;
        height: 3em;
        border-radius: 2px;
        background-color: brown;
        color: white;
        border: solid brown 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
    }
    #retour:hover{
        background-color: rgb(255, 255, 255);
        color: brown;
        cursor: pointer;
    }
    /*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*/
    
}
@media (min-device-width: 1440px) and (max-device-width: 1999px)
{

    body{
        background-color: rgb(255, 255, 255);
        overflow-x:hidden;
       
        font-family: "Prata",Helvetica,Arial,Verdana,sans-serif;
        color: #000000;
        
    }
    #img_logo{
        
        margin-left: -0.2vw;
        margin-top: -0.5vw;
        border-radius: 2vw;
        width: 4vw;
        height: 4vw;
        float: left;
    }
    .input_style {
        display: inline;
    }
    
    
    
    
    
    
    #img_div{
        position: relative;
        top: 100px;
    }
    #img_hebergement_background{
       
        width: 100vw;
        height: 37vw;
        background-image: url(./image\ video/chateau1.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        color: white;
        letter-spacing: 0.5vw;
        
    }
    
    
    
    
    article1{
        width: auto;
        height: auto;
        
       
    }
    article1 h1{
        text-align: center;
        text-transform: uppercase;
    }
    article1 div{
        text-align: center;
    }
    article1 div img{
        width:45%;
        height:45%;
        
    }
    
     #img_01{
         width: 90%;
         height:80%;
         size-adjust:initial;
         margin-left: 4vw;
     }
     
    
    
    
     .grid-container2 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        margin: 0vw 2vw 2vw 3vw;
        grid-gap: 1vw;
    }
    .grid--item{
       margin:  3vw 0 3vw 0;
       border: solid rgb(143, 143, 143) 1.5px;
       width:46vw;
       height:auto;
      
        
        
       
    }
    .grid--item img{
      
    }
    .grid--item h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: xx-large;
        font-family:  Helvetica, Arial, Lucida, sans-serif;
        
    }
    .grid--item p{
        margin:0 1vw 0 1vw;
        line-height: 2vw;
        font-size: large;
    }
    /*Contact form CSS*/
    .row{
        display: grid;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    }
    .row-items{
        padding: 0 0 0 1em;
        font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
        font-size: 16px;
        width:22vw;
    }
    .column{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        margin:0 0 1em 0;
        width:46vw;
    }
    textarea{
        width:42vw;
    }
    label,input,textarea{
        text-align: left;
        display:flex;
    }
    input,textarea{
        border:solid rgb(119, 119, 119) 1px;
        
    }
    input:hover,textarea:hover,input:focus,textarea:focus{
        border:solid rgb(248, 158, 56) 1px !important;
    }
    .half {
        width:20vw;
        height:3em;
    }
    #objet{
        margin-bottom: 2em;
        width:40vw;
        height:3em;
    }
    #envoyer{
        margin: 2em 0 2em 1em;
       
        width:90%;
        height:3em;
            border-radius: 2px;
            background-color: rgb(248, 158, 56);
            color: rgb(255, 255, 255);
            border: solid rgb(248, 158, 56) 1px;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
            
            letter-spacing: 2px;
            transition: width 2s ease;
            transition: letter-spacing 1s ease;
            transition: all 0.5s ease;
            padding-left:25%
       
    }
    #envoyer:hover{
        background-color: rgb(196, 104, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .item1{
        background-color: rgba(77, 1, 1, 0.815);
        color: white;
    }
    .item2{
        background-color: #b38353;
        color: white;
    }
    
    /*Contact form CSS*/
    
    
    /*map CSS*/
    #map{
        margin:40px;
        width: 40vw;
        height: 40vw;
    }
    /*map CSS*/
    
    
    
    .div_message{
        margin-top: 10vw;
        text-align: center;
        align-items: center;
        width:100%;
        height:500px;
        
    }
    #retour{
        margin: 2em 0 2em 1em;
        width: 90%;
        height: 3em;
        border-radius: 2px;
        background-color: brown;
        color: white;
        border: solid brown 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
    }
    #retour:hover{
        background-color: rgb(255, 255, 255);
        color: brown;
        cursor: pointer;
    }
/*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*/

}
@media (min-device-width: 1024px) and (max-device-width: 1439px)
{

body{
    background-color: rgb(255, 255, 255);
    overflow-x:hidden;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    
}
#img_logo{
    
    margin-left: -0.2vw;
    margin-top: -0.5vw;
    border-radius: 2vw;
    width: 4vw;
    height: 4vw;
    float: left;
}
.input_style {
    display: inline;
}







#img_div{
    position: relative;
    top: 100px;
}
#img_hebergement_background{
   
    width: 100vw;
    height: 37vw;
    background-image: url(./image\ video/chateau1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    letter-spacing: 0.5vw;
    
}




article1{
    width: auto;
    height: auto;
    
   
}
article1 h1{
    text-align: center;
    text-transform: uppercase;
}
article1 div{
    text-align: center;
}
article1 div img{
    width:45%;
    height:45%;
    
}

 #img_01{
     width: 90%;
     height:80%;
     size-adjust:initial;
     margin-left: 4vw;
 }
 



.grid-container2{
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin:10vw 2vw 2vw 3vw;
    grid-gap: 1vw;
}
.grid--item{
   margin:  3vw 0 3vw 0;
   border: solid rgb(143, 143, 143) 1.5px;
   width:46vw;
   height:auto;
  
    
    
   
}
.grid--item img{
  
}
.grid--item h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: xx-large;
    font-family:  Helvetica, Arial, Lucida, sans-serif;
    
}
.grid--item p{
    margin:0 1vw 0 1vw;
    line-height: 2vw;
    font-size: large;
}
/*Contact form CSS*/
.row{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
}
.row-items{
    padding: 0 0 0 1em;
    font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    width:22vw;
}
.column{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin:0 0 1em 0;
    width:46vw;
}
textarea{
    width:42vw;
}
label,input,textarea{
    text-align: left;
    display:flex;
}
input,textarea{
    border:solid rgb(119, 119, 119) 1px;
    
}
input:hover,textarea:hover,input:focus,textarea:focus{
    border:solid rgb(248, 158, 56) 1px !important;
}
.half {
    width:20vw;
    height:3em;
}
#objet{
    margin-bottom: 2em;
    width:40vw;
    height:3em;
}
#envoyer{
    margin: 2em 0 2em 1em;
   
    width:90%;
    height:3em;
        border-radius: 2px;
        background-color: rgb(248, 158, 56);
        color: rgb(255, 255, 255);
        border: solid rgb(248, 158, 56) 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
        padding-left:25%
   
}
#envoyer:hover{
    background-color: rgb(196, 104, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.item1{
    background-color: rgba(77, 1, 1, 0.815);
    color: white;
}
.item2{
    background-color: #b38353;
    color: white;
}

/*Contact form CSS*/


/*map CSS*/
#map{
    margin:40px;
    width: 40vw;
    height: 40vw;
}
/*map CSS*/



.div_message{
    margin-top: 10vw;
    text-align: center;
    align-items: center;
    width:100%;
    height:500px;
    
}
#retour{
    margin: 2em 0 2em 1em;
    width: 90%;
    height: 3em;
    border-radius: 2px;
    background-color: brown;
    color: white;
    border: solid brown 1px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    transition: width 2s ease;
    transition: letter-spacing 1s ease;
    transition: all 0.5s ease;
}
#retour:hover{
    background-color: rgb(255, 255, 255);
    color: brown;
    cursor: pointer;
}


}
/*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*/

/*mobile*/
@media (max-width: 1023px){
    body{
        background-color: rgb(255, 255, 255);
        overflow-x:hidden;
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #000000;
        
    }
    #heading_text {
        word-break: break-word;
        line-height: 90px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        font-size: 70px;
        text-shadow: 5px 5px black;
        color: white;
        text-align: center;
    }
    .telephoner {
       
        
    }
    #phone {
        width: 5em;
        height: 5em;
        position: fixed;
        right: 1em;
        bottom: 7em;
        z-index: 2;
        border-radius: 6em;
        border: solid rgb(224, 156,79);
        padding: 2em;
        background-color: rgb(12, 0, 58);
    }
    
   
   
    
    
    
    
    
    
    
    #img_div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.856) ;
        width: 100%;
        margin-top: 10em;
    }
    #img_hebergement_background{
      
        width: 100%;
        height:  767px;
        background-image: url('./image\ video/chateau1.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
       
        color: white;
        letter-spacing: 0.5vw;
        
    }
    
    
    
    
    
    article1{
        width: auto;
        height: auto;
        
       
    }
    article1 h1{
        text-align: center;
        text-transform: uppercase;
    }
    article1 div{
        text-align: center;
    }
    article1 div img{
        width:45%;
        height:45%;
        
    }
    
     #img_01{
         width: 90%;
         height:80%;
         size-adjust:initial;
         margin-left: 4vw;
     }
     
    
    
    
    .grid-container2{
        display:grid;
        grid-template-rows: 0.5fr 0.5fr;
        padding: 0 3vw 0 3vw;
        grid-gap: 1vw;
    }
    .grid--item{
       margin:  3vw 0 3vw 0;
       border: solid rgb(143, 143, 143) 1.5px;
       
        
       
    }
    
    .grid--item h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 60px;
        font-family:  Helvetica, Arial, Lucida, sans-serif;
        
    }
    article1 .grid--item p{
        margin:0 1vw 0 1vw;
        line-height: 3em;
        font-size: 50px;
        padding: 80px;
        letter-spacing: 2px;
       
     }   
    p#p1{
        text-align: left; 
            padding: 80px;
        }
    
    /*Contact form CSS*/
    .row{
       
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  3fr 1fr;
    }
    .row-items{
        padding: 0 0 0 1em;
        font-family: Montserrat, Helvetica, Arial, Lucida, sans-serif;
        font-size: 40px;
    }
    .input_style {
     text-align: left;
     width: 55px;
     height: 55px;
    }
    .string_input {
      
    }
   
    
    label1,input,textarea{
        text-align: left;
        display:flex;
        font-size: 50px;
    }
    input,textarea{
        border:solid rgb(196, 196, 196) 2px;
        border-radius: 10px;
        font-size: 50px;
        width:90%;
        
    }
    input:focus,textarea:focus{
        border:solid rgb(248, 158, 56) 2px;
        transition: all 0.5s ease;
    }
    textarea{
        height:700px;
        font-size: 30px;
    }
    .half, #objet{
        width:90%;
        height:3em;
    }
    #objet{
        margin-bottom: 2em;
    }
    #envoyer{
        margin: 2em 0 2em 1em;
       
        width:90%;
        height:3em;
        
        border-radius: 10px;
        background-color: rgb(248, 158, 56);
        color: rgb(255, 255, 255);
        border: solid rgb(248, 158, 56) 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
       
        transition: all 0.5s ease;
       
    }
    
    #envoyer:hover {
        background-color: rgb(196, 104, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    }

    .div_message{
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width:100%;
        height:500px;
        font-size:30px;
        
    }
    #retour{
        margin: 2em 0 2em 1em;
        width: 90%;
        height: 3em;
        border-radius: 2px;
        background-color: rgb(255, 255, 255);
        color: rgb(248, 158, 56);
        border: solid rgb(248, 158, 56) 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        text-decoration: none;
        transition: all 0.5s ease;
    }
    #retour:hover{
        background-color: rgb(248, 158, 56);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .item1{
        background-color: white;
        color: black;
    }
    .item2{
        background-color: #b38353;
        color: white;
    }
    /*Contact form CSS*/
    /*map CSS*/
#map{
    margin:40px;
    width:900px;
    height:900px;
}
textarea {
    font-size: 1.3em;
}
/*map CSS*/
    
}