@media (min-width: 1023px)
{

body{
    background-color: rgb(255, 255, 255);
    overflow-x:hidden;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    
}
.heading{
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin: 270px 0 100px 0;
}
.heading_2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin: 0px 20% 50px 20%;
    padding-bottom: 20px;
    border-bottom: solid black 1.5px;
}
#grid_container_1{
    display: grid;
    grid-template-columns: 1fr 19fr 1fr 19fr ;
    margin: 0 10% 50px 13%;
    
}
.grid_item{
    padding: 20px;
    border-top: solid black 1.5px;
    

}
.grid_image{
    padding: 20px 0 20px 20px;
}
.pair{
    margin-right:70px;
}
.small_logos{
    width: 25px;
    height: 25px;
    margin-bottom:-20px;
}
.small_logos2{
    width: 25px;
    height: 25px;
    margin-bottom:0px;
    
}
.small_logos3{
    width: 25px;
    height: 25px;
    margin-bottom:-5px;
    
}
.texte_grid{
    font-family:Neue Helvetica,Helvetica,sans-serif;
    letter-spacing: 2px;
    line-height:30px;
}
.heading_grid{
    letter-spacing: 2px;
    text-transform: uppercase;
}
.texte_tarifs{
    margin: 0px 20% 50px 20%;
}
span{
    color:green;
    font-size:xx-large;
}
.link{
    color: black;
    text-underline-offset: 1em;
}
/*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*/

}

/*mobile*/
@media (max-width: 1023px){
    body{
        background-color: rgb(255, 255, 255);
        overflow-x:hidden;
       
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #000000;
        
    }
    .heading{
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        margin: 100px 0 100px 0;
        letter-spacing: 7px;
        font-size:4em;
    }
    .heading_2{
        text-transform: uppercase;
        text-align: center;
        font-weight: 100;
        margin: 0px 20% 50px 20%;
        padding-bottom: 20px;
        border-bottom: solid black 1.5px;
    }
    #grid_container_1{
        display: grid;
        grid-template-columns: 3fr 18fr ;
        margin: 0 30px 50px 30px;
        
    }
    .grid_item{
        padding: 80px 40px 100px 40px;
        border-top: solid black 3px;
        
    
    }
    .grid_image{
        padding: 60px 0 20px 20px;
    }
    .pair{
        
    }
    .small_logos{
        width: 75px;
        height: 75px;
        margin-bottom:-5em;
    }
    .small_logos_2{
        width: 75px;
        height: 75px;
        margin-bottom:-6em;
        
        
    }
    .small_logos_3{
        width: 50px;
        height: 50px;
        margin: 0 0 -6.5em 5em;
        
        
    }
    .grid_image_2{
        padding: 0px 0 20px 20px;
    }
    .texte_grid{
        font-family:Neue Helvetica,Helvetica,sans-serif;
        letter-spacing: 2px;
        line-height:4em;
    }
    .heading_grid{
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 3em;
    }
    .texte_tarifs{
        margin: 0px 20% 50px 20%;
    }
    span{
        color:green;
        font-size:xx-large;
    }
    #title_1 {
        text-align: center;
        font-weight: 100;
        margin: 250px 70px 70px 70px;
        font-size:80px;
    }
    #title_2 {
        text-align: center;
        font-weight: 100;
        margin: 0px 70px 70px 70px;
        font-size:70px;
        letter-spacing: 3px;
    }
    .link{
        color: black;
        text-underline-offset: 2em;
    }
    
}