@media (min-width: 1024px)
{


#img_logo{
    
    margin-left: -0.2vw;
    margin-top: -0.5vw;
    border-radius: 2vw;
    width: 4vw;
    height: 4vw;
    float: left;
}





#img_div{
    position: relative;
    top: 100px;
}
#img_hebergement_background{
    
    
    width: 100vw;
    height: 40vw;
    background-image: url(./image\ video/chateau1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: white;
    letter-spacing: 0.5vw;
    
}


#img_h1{
    text-align: center;
    justify-content: center;
}
.siteWeb h2{
    text-align:center;
    text-decoration:underline black 2px;
    text-underline-offset: 10px;
    letter-spacing: 2px;
    line-height: 50px;
}
.siteWeb h3{
    
    text-decoration:underline black 2px;
    text-underline-offset: 10px;
    letter-spacing: 1px;
}
.siteWeb p{
    font-size:1.3em;
    letter-spacing: 1px;
    line-height: 2.4em;
}
.siteWeb li{
    font-size:1.3em;
    letter-spacing: 1px;
    line-height: 2.4em;
}
#texte{
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
}





}