@media only screen and (min-width: 2000px) {
    /*navbar*/
    .non-transparent {
        background-color: rgba(255, 255, 255, 1); /* Fully opaque */
    }
    .black_bg {
        background-color: white;
        position: relative;
        top: 10rem;
        left: 0;
        z-index: 1000002;
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
        height: 95vh;
    }
    .no_bg {
        background-color: white;
        position: relative;
        top: 10rem;
        left: -45vw;
        z-index: 1000002;
        transition: all 0.5s ease-in-out;
     
        overflow-x: hidden;
        overflow-y: auto;
        height: 95vh;
    }
    .current {
        padding-top: 2em;
        border-top: solid grey 2px;
    }
    div ul li a {
        text-decoration: none;
     
        color: #21436a;
        font-size: 2rem;
        display: block;
        width: 100vw;
        margin-right: 0;
        transition: all 0.2s ease;
    }
    .no_black_filter {
        width: 100vw;
        position: absolute;
        left: -100vw;
        z-index: 100;
        transition: 0.0001s;
        background-color: rgba(0, 0, 0, 0.41);
        height: 1000vh;
        top: 0vh;
        overflow: scroll;
    }
    .black_filter {
        width: 100vw;
        position: absolute;
        left: 0px;
        z-index:  100;
        transition: 0.0001s;
        background-color: rgba(0, 0, 0, 0.41);
        height: 1000vh;
        top: 0vh;
        overflow: scroll;
    }
    /* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}

/* Custom Scrollbar for Firefox */
.scrollable {
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
}

    .no_navbar {
        
            display: block;
            transition: all 0.5s ease-in-out;
            width: 100%;
            height: 10rem;
            background-color: white;
            position: fixed;
            z-index: 1000;
        
    }
    .sidebar_item {
        list-style-type: none;
        padding: 2rem;
    }
   
    .close {
        position: relative;
        top: 0em;
        left: 39vw;
        width: 60px;
        height: 60px;
    }
    .close:hover {
       cursor: pointer;
    }
    .menu {
        width: 60px;
        height: 60px;
    }
    #nav__checkbox_2 {
        display: none;
    }
    label.nav__toggle {
        position: fixed;
        top: 3em;
        z-index: 1;
        left: 3em;
    }
    label.nav__toggle:hover {
     cursor: pointer;
    }
    
    .nav_icon {
        width: 3rem;
        height: 3rem;
    }
    .menu_link {
        position: relative;
        background-color: #FBF8F4;
    }
    .item_container_item_col {
        display: grid;
        grid-template-columns: 3fr 7fr;
        background-color: #FBF8F4;
        align-items: center;
        padding: 0rem 1rem;
    }
    .sidebar_item_container_row {
        display: grid;
        grid-template-rows: auto;
        width: auto;
    }
    #index {
        padding-left: 5rem;
    }
    #sidebar_first {
        background-color: white;
        border-bottom: 1px solid black;
      
    }
    .nav_background {
       
    }
    
    .reserver_button {
        display: none;
    }
   
    div.sidebar {
        top: 0rem;
        align-items: center;
        width: 45%;
        height: 14em;
        opacity: 1;
        position: fixed;
        z-index: 2;
    }
    .navbar {
        display: block;
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: 10rem;
        background-color: none;
        position: fixed;
        z-index: 1000;
        top: 0;
    }
    .non-transparent {
        background-color: rgba(255, 255, 255, 1);
    }
    nav {
        position: relative;
        z-index: 100000;
    }
    /*navbar*/
    .flag {
        width: 20px; 
        height: auto; 
        margin-right: 8px;
    }
    select {
        padding: 5px;
        font-size: 16px;
    }
    #div_background {
       
        width: 90%;
        height: auto;
        margin-left: 5%;
       
        
    }
    body {
        margin: 0;

        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        font-family: 'Times New Roman', Times, serif;

    }
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
    #lienMille {
        width: 10em;
        height: 10em;
      
    }
    #align_center{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #recommandation {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;
        font-size: 1.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    #page_title {
        font-family: 'Playfair Display', sans-serif;
        margin: 6em 0 0 0;
        font-size: 3rem;
        text-align: center;
        LETTER-SPACING: 2px;
        width: auto;
        font-weight: normal;
    }
    #page_title2{
        font-family:  courgette,Arial, Helvetica,serif;
            margin: 5em 0 -4em 0;
            font-size: 1.5em;
            text-align: center;
            LETTER-SPACING: 2px;
            padding: 1em;
            border-bottom: solid black 2px;
            border-top: solid black 2px;
            width: auto;
            font-weight: normal;
    }
    #header_div {
        justify-content: center;
        display: flex;
      
    }

    .siteMobile {
    display: none;
    }
    

    .margin_top_heading {
        margin-top: 5em;
        margin: 5em auto 3em auto;
        text-align: center;
        text-decoration: underline black 2px;
        text-underline-offset: 10px;
        letter-spacing: 2px;
        line-height: 50px;
        color: black;
        font-size: 2em;

    }

    #navTitle {
        display: none;
    }

    #nav__checkbox {
        display: none;
    }

    

    #translate1 {
        position: absolute;
        right: 4vw;
    }

    h1.headtitle a {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: 0vw 0 0vw 1vw;
        padding: 0;
        top: 10px;
        left: 40vw;
        text-align: center;
        color: rgb(224 156 79);
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Times New Roman', Times, serif;


    }


    .headtitle a {
        text-decoration: black;
        color: black;
    }

    .headtitle a:hover {
        color: grey;
        transition: 0.2s color ease-in-out;
    }

    .reserver_button {
        height: 2vw;
        width: 15vw;
        border-radius: 2.5vw;
        background-color: white;
        color: black;
        border: solid black 0.15vw;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
        right: 7vw;
        top: 0.5vw;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
        padding: 0.1em 0.1em 1.2em 0.1em;
    }

    .reserver_button:hover {
        cursor: pointer;
        letter-spacing: 2px;
        width: 17vw;
        background-color: #2c2a2b;
        color: white;

    }





    /*Navigation bar properties*/
    /*hover effect navbar*/
    #acceuil::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0px;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #acceuil:hover::after {
        transform: scale(1)
    }

    #mariage::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #mariage:hover::after {
        transform: scale(1)
    }

    #events::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #events:hover::after {
        transform: scale(1)
    }


    #seminaires::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #seminaires:hover::after {
        transform: scale(1)
    }

    #hebergements::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #hebergements:hover::after {
        transform: scale(1)
    }

    /*hover effect navbar*/
    button.buttonNavbar {
        color: black;
        background-color: white;
        width: 13%;
        height: 45%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        border: solid white;
        border-radius: 2px;
        transition: 0.5s;
        position: relative;
        top: 2em;

    }

    button.buttonNavbar:hover {

        color: white;
        background-color: black;
    }


 

  




    /*Navigation bar properties*/

    /*checkbox properties*/
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    /*checkbox properties*/


    .imglink {
        padding: 0;
        margin: 0;
        background-color: rgba(14, 13, 13, 0.98);


    }

    /*image position properties*/
    img.imglogo {
        width: 7rem;
        height: 7rem;
        fill: rgb(255, 255, 255);
        display: block;
        position: fixed;
        z-index: 0;
    }

    #pageLogo {
        border-radius: 16px;
    }

    /*image properties*/
    /* video properties */

    .video {
        position: relative;
        top: -20%;
        left: 0px;
        width: 100%;
        z-index: 2;


    }

    .header {
        grid-area: header;



    }

    .content {
        grid-area: content;

    }

    /*text header*/
    #heading_text {
        text-align: center;
        justify-content: center;
        font-size: 4vw;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
        font-weight: 100;
    }

    /*text header*/

    /* Bas de page */
    #footer_grid {
        background-color: #f9d3b9;
        background-size: 100vw;
        width: 100vw;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-top: solid (143, 143, 143) 4px;

    }

    #footer_logo {
        height: 10vw;
        width: 10vw;
        border-radius: 50%;

    }

    #footer_header_1 {
        background: -webkit-linear-gradient(rgb(255, 196, 2), rgb(255, 255, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.2vw;
        font-family: serif;
        display: flex;
        justify-content: center;
    }

    #grid_footer {
        display: grid;

        grid-template-columns: 25vw 16vw 16vw 16vw 16vw;
        margin: 0 0 0 0;
        grid-gap: 1.5vw;
    }

    .grid_footer_item {
        text-align: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        margin: 2vw 0 0 0;
        font-size: 1vw;

    }

    .grid_footer_item li a {

        color: rgb(0, 0, 0);

        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;
        overflow: hidden;

        transform: scale(1);
        font-size: 1vw;
    }

    .grid_footer_item a {

        color: rgb(0, 0, 0);
        text-decoration: none;
        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;

        font-size: 1vw;

        transition: color 0.3s;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .grid_footer_item a:hover {
        color: rgb(153, 153, 153);

    }

    .footer_heading {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;
        font-size: 1.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }

   
    /* Bas de page */
    #ouverture {
        position: absolute;
        left: 10vw;
        top: -0.5vw;
        text-transform: uppercase;
        color: green;
        font-size: 18px;
    }


}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1999px) {
    /*navbar*/
    .navbar {
        display: block;
        transition: all 0.2s ease-in-out;
        width: 100%;
        height: 5rem;
        background-color: none;
        position: fixed;
        z-index: 1000;
        top: 0;
    }
    .non-transparent {
        background-color: rgba(255, 255, 255, 1); /* Fully opaque */
    }
    .black_bg {
        background-color: white;
        position: relative;
        top: 5rem;
        left: 0;
        z-index: 1000002;
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
        height: 91vh;
    }
    .no_bg {
        background-color: white;
        position: relative;
        top: 5rem;
        left: -60vw;
        z-index: 1000002;
        transition: all 0.5s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
        height: 91vh;
    }
    .current {
        padding-top: 2em;
        border-top: solid grey 2px;
    }
    div ul li a {
        text-decoration: none;
     
        color: #21436a;
        font-size: 1rem;
        display: block;
        width: 100vw;
        margin-right: 0;
        transition: all 0.2s ease;
    }
    .no_black_filter {
        width: 100vw;
        position: absolute;
        left: -2000px;
        z-index:    100;
        transition: 0.0001s;
        background-color: rgba(0, 0, 0, 0.41);
        height: 1000vh;
        top: 0vh;
        overflow: scroll;
    }
    .black_filter {
        width: 100vw;
        position: absolute;
        left: 0px;
        z-index:  100;
        transition: 0.0001s;
        background-color: rgba(0, 0, 0, 0.41);
        height: 1000vh;
        top: 0vh;
        overflow: scroll;
    }
    /* Custom Scrollbar for Webkit Browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}

/* Custom Scrollbar for Firefox */
.scrollable {
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
}
    
    .no_navbar {
        
            display: block;
            transition: all 0.5s ease-in-out;
            width: 100%;
            height: 5rem;
            background-color: white;
            position: fixed;
            z-index: 1000;
            top: 0;
        
    }
    .sidebar_item {
        list-style-type: none;
        padding: 2rem;
    }
   
    .close {
        position: relative;
        top: 0em;
        left: 39vw;
        width: 2rem;
        height: 2rem;
    }
    .close:hover {
     cursor: pointer;
    }
    .menu {
        width: 30px;
        height: 30px;
    }
    #nav__checkbox_2 {
        display: none;
    }
    label.nav__toggle {
        position: fixed;
        top: 3em;
        z-index: 1;
        left: 3em;
    }
    label.nav__toggle:hover {
     cursor: pointer;
    }
    
    .nav_icon {
        width: 3rem;
        height: 3rem;
    }
    .menu_link {
        position: relative;
        background-color: #FBF8F4;
    }
    .item_container_item_col {
        display: grid;
        grid-template-columns: 3fr 7fr;
        background-color: #FBF8F4;
        align-items: center;
        padding: 0rem 1rem;
    }
    .sidebar_item_container_row {
        display: grid;
        grid-template-rows: auto;
        width: auto;
    }
    #index {
        padding-left: 5rem;
    }
    #sidebar_first {
        background-color: white;
        border-bottom: 1px solid black;
      
    }
    .nav_background {
       
    }
    
    .reserver_button {
        display: none;
    }
   
    div.sidebar {
        top: 0rem;
        align-items: center;
        width: 45%;
        height: 14em;
        opacity: 1;
        position: fixed;
        z-index: 2;
    }
   
    nav {
        position: relative;
        z-index: 100000;
    }
    /*navbar*/
    .flag {
        width: 20px; 
        height: auto; 
        margin-right: 8px;
    }
    select {
        padding: 5px;
        font-size: 16px;
    }
    #div_background {
       
        width: 90%;
        height: auto;
        margin-left: 5%;
       
        
    }
    body {
        margin: 0;

        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        font-family: 'Times New Roman', Times, serif;

    }
    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
    #lienMille {
        width: 10em;
        height: 10em;
      
    }
    #align_center{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #recommandation {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;
        font-size: 1.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    #page_title{
        font-family: 'Playfair Display',sans-serif;
            margin: 6em 0 0 0;
            font-size: 1.5em;
            text-align: center;
            LETTER-SPACING: 2px;
            
           
            width: auto;
            font-weight: normal;
    }
    #page_title2{
        font-family:  courgette,Arial, Helvetica,serif;
            margin: 5em 0 -4em 0;
            font-size: 1.5em;
            text-align: center;
            LETTER-SPACING: 2px;
            padding: 1em;
            border-bottom: solid black 2px;
            border-top: solid black 2px;
            width: auto;
            font-weight: normal;
    }
    #header_div {
        justify-content: center;
        display: flex;
      
    }

    .siteMobile {
        display: none;
    }
    

    .margin_top_heading {
        margin-top: 5em;
        margin: 5em auto 3em auto;
        text-align: center;
        text-decoration: underline black 2px;
        text-underline-offset: 10px;
        letter-spacing: 2px;
        line-height: 50px;
        color: black;
        font-size: 2em;

    }

    #navTitle {
        display: none;
    }

    #nav__checkbox {
        display: none;
    }

    

    #translate1 {
        position: absolute;
        right: 4vw;
    }

    h1.headtitle a {
        display: flex;
        flex-direction: row;
        position: absolute;
        margin: 0vw 0 0vw 1vw;
        padding: 0;
        top: 10px;
        left: 40vw;
        text-align: center;
        color: rgb(224 156 79);
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 2px;
        font-family: 'Times New Roman', Times, serif;


    }


    .headtitle a {
        text-decoration: black;
        color: black;
    }

    .headtitle a:hover {
        color: grey;
        transition: 0.2s color ease-in-out;
    }

    .reserver_button {
        height: 2vw;
        width: 15vw;
        border-radius: 2.5vw;
        background-color: white;
        color: black;
        border: solid black 0.15vw;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        position: fixed;
        right: 7vw;
        top: 0.5vw;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
        padding: 0.1em 0.1em 1.2em 0.1em;
    }

    .reserver_button:hover {
        cursor: pointer;
        letter-spacing: 2px;
        width: 17vw;
        background-color: #2c2a2b;
        color: white;

    }





    /*Navigation bar properties*/
    /*hover effect navbar*/
    #acceuil::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0px;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #acceuil:hover::after {
        transform: scale(1)
    }

    #mariage::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #mariage:hover::after {
        transform: scale(1)
    }

    #events::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #events:hover::after {
        transform: scale(1)
    }


    #seminaires::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #seminaires:hover::after {
        transform: scale(1)
    }

    #hebergements::after {
        content: "";
        display: inline-block;

        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }

    #hebergements:hover::after {
        transform: scale(1)
    }

    /*hover effect navbar*/
    button.buttonNavbar {
        color: black;
        background-color: white;
        width: 13%;
        height: 45%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        border: solid white;
        border-radius: 2px;
        transition: 0.5s;
        position: relative;
        top: 2em;

    }

    button.buttonNavbar:hover {

        color: white;
        background-color: black;
    }


 

  




    /*Navigation bar properties*/

    /*checkbox properties*/
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    /*checkbox properties*/


    .imglink {
        padding: 0;
        margin: 0;
    


    }

    /*image position properties*/
    img.imglogo {
        width: 5rem;
        height: 5rem;
        fill: rgb(255, 255, 255);
        display: block;
      
        z-index: 0;
       
       
      
    }

    #pageLogo {
        border-radius: 16px;
    }

    /*image properties*/
    /* video properties */

    .video {
        position: relative;
        top: -20%;
        left: 0px;
        width: 100%;
        z-index: 2;


    }

    .header {
        grid-area: header;



    }

    .content {
        grid-area: content;

    }

    /*text header*/
    #heading_text {
        text-align: center;
        justify-content: center;
        font-size: 4vw;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
        font-weight: 100;
    }

    /*text header*/

    /* Bas de page */
    #footer_grid {
        background-color: #f9d3b9;
        background-size: 100vw;
        width: 100vw;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-top: solid (143, 143, 143) 4px;

    }

    #footer_logo {
        height: 10vw;
        width: 10vw;
        border-radius: 50%;

    }

    #footer_header_1 {
        background: -webkit-linear-gradient(rgb(255, 196, 2), rgb(255, 255, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.2vw;
        font-family: serif;
        display: flex;
        justify-content: center;
    }

    #grid_footer {
        display: grid;

        grid-template-columns: 25vw 16vw 16vw 16vw 16vw;
        margin: 0 0 0 0;
        grid-gap: 1.5vw;
    }

    .grid_footer_item {
        text-align: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        margin: 2vw 0 0 0;
        font-size: 1vw;

    }

    .grid_footer_item li a {

        color: rgb(0, 0, 0);

        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;
        overflow: hidden;

        transform: scale(1);
        font-size: 1vw;
    }

    .grid_footer_item a {

        color: rgb(0, 0, 0);
        text-decoration: none;
        border-top: none;
        width: 1000px;
        border-left: none;
        border-right: none;
        top: -20px;

        font-size: 1vw;

        transition: color 0.3s;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .grid_footer_item a:hover {
        color: rgb(153, 153, 153);

    }

    .footer_heading {
        padding-bottom: 2vw;
        border-bottom: solid rgb(248, 158, 56) 2px;
        font-size: 1.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56), rgb(255, 189, 6));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


    }

   
    /* Bas de page */
    #ouverture {
        position: absolute;
        left: 10vw;
        top: -0.5vw;
        text-transform: uppercase;
        color: green;
        font-size: 18px;
    }



}