
/*titre*/
@media only screen and
 (min-width: 1024px){
     body{
         margin:0;
         
            background-color: rgb(255, 255, 255);
            overflow-x: hidden;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
     }
     .siteMobile{
         display: none;
     }
     #navTitle{
         display: none;
     }
 #nav__checkbox{
     display: none;
 }
 label svg{
     display: none;
 }
h1.headtitle a{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin:0vw 0 0vw 1vw;
    padding:0;
    top:10px;
    left:40vw;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    
    
    }
    
    
    .headtitle a {
        text-decoration: black;
        color: black;
    }
    .headtitle a:hover{
        color: grey;
        transition: 0.2s color ease-in-out;
    }
    .reserver_button{
        height: 2vw;
    width: 10vw;
    border-radius: 2.5vw;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
    border: solid rgb(44, 44, 44) 0.3vw;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    position:fixed;
    right:3vw;
    top:0.5vw;
    letter-spacing: 2px;
    transition: width 2s ease;
    transition: letter-spacing 1s ease;
    transition: all 0.5s ease;
    }
    .reserver_button:hover{
        cursor: pointer;
        letter-spacing: 3px;
        width: 15vw;
       
    }
    
    
    
    
    
    /*Navigation bar properties*/
    /*hover effect navbar*/
    #acceuil::after{
        content: "";
        display: inline-block;
      
        width: 0;
        height: 0px;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }
    #acceuil:hover::after{
        transform:scale(1)
    }
    #mariage::after{
        content: "";
        display: inline-block;
      
        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }
    #mariage:hover::after{
        transform:scale(1)
    }
    #events::after{
        content: "";
        display: inline-block;
      
        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }
    #events:hover::after{
        transform:scale(1)
    }
    
    
    #seminaires::after{
        content: "";
        display: inline-block;
    
        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }
    #seminaires:hover::after{
        transform:scale(1)
    }
    #hebergements::after{
        content: "";
        display: inline-block;
     
        width: 0;
        height: 0;
        background: white;
        transform: scale(0%);
        transition: transform 0.2s ease-in-out;
    }
    #hebergements:hover::after{
        transform:scale(1)
        }
    
    /*hover effect navbar*/
    button.buttonNavbar{
        color: black;
        background-color: white;
        width: 13%;
        height: 45%;
        text-align: center;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: bold;
        border: solid white;
        border-radius: 2px;
        transition: 0.5s ;
        position: relative;
       top: 2em;
    
        } 
    button.buttonNavbar:hover{
    
        color: white;
        background-color: black;
     }   
    
    
    #helpBar1{
        position:fixed;
    }
    #helpBar2{
        position:fixed;
    }
    #helpBar3{
        position:fixed;
    } 
    .sidebar{
       
    grid-area: sidebar;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-y: visible;
    width:100vw;
    z-index: 3;
    color: black;
    padding: 0;
    margin: 0px 0px;
    
    transition:0.3s;
    height: 5vw;
    
    
    }
    nav.nav{
        height: 100px;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index:10000;
     }
    
    
    
    /*Navigation bar properties*/
    
    /*checkbox properties*/
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
    /*checkbox properties*/
    
    /*media properties*/
    
    
    
    /*media properties*/
    
    /* navigation bar list properties*/
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .sidebarList{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
        list-style-type: none;
        margin: 10px;
        padding: 0;
        
    }
    ul .sidebarList{
        width: 100%;
    }
    .sidebarList .current{
        text-decoration: solid black underline 3px;
        text-underline-offset: 4px;
        
    }
        
    
    div ul li a{
        margin: 0;
        padding: 0;
        
        box-sizing: border-box;
        display: inline-block;
        display: table-row;
        align-items: center;
        color: black;
        text-align: center;
        justify-items: center;
    
       
        
    
        border-radius: 4px;
        
        text-decoration: none;
        letter-spacing: 2px;
        font-size: medium;
       position: relative;
       top: 2.5vw;
       text-decoration: underline rgba(5, 5, 5, 0);
        text-underline-offset: 5px;
        transition: all 0.4s ease-out;
        
    }
    
    
    div ul li a:hover{
        text-decoration: underline black 3px;
        transition: all 0.5s ease-out;   
        
        
    }
    
    
    
    
    /* navigation bar list properties*/
    /*image properties*/
    /*img header*/
    
    /*img header*/
    .imglink{
        padding: 0;
        margin: 0;
        background-color:rgba(14, 13, 13, 0.98);
    
        
    }
    /*image position properties*/
    .imglogo{
        float: left;
        position: absolute;
        top: 1vw;
        left: 1vw;
         
    
            margin-left: -0.2vw;
            margin-top: -0.5vw;
            border-radius: 2vw;
            width: 4vw;
            height: 4vw;
            float: left;
        }
    link.pageLogo{
        border-radius: 5px;
    }
    /*image properties*/
    /* video properties */
    
    .video{
     position: relative;
     top: -20%;
     left: 0px;
     width: 100%;
     z-index: 2;
     
     
    }
    .header{
        grid-area: header;
     
    
    
    }
    .content{
    grid-area: content;
    
    }
    /*text header*/
    #heading_text{
        text-align: center;
        justify-content: center;
        font-size: 4vw;
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
        font-weight: 100;
    }
    /*text header*/
    
    /* Bas de page */
    #footer_grid{
        background-color: brown;
        background-size: 100vw;
        width: 100vw;
        margin:0 0 0 0;
        padding:0 0 0 0;
        border-top: solid (143, 143, 143) 4px;
         
    }
    #footer_logo{
        height:10vw;
        width:10vw;
        border-radius:50%;
      
    }
    #footer_header_1{
        background:-webkit-linear-gradient(rgb(255, 196, 2),rgb(255, 255, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 1.2vw;
        font-family:serif;
        display: flex;
        justify-content: center;
    }
    #grid_footer{
        display: grid;
        
        grid-template-columns: 25vw 16vw 16vw 16vw 16vw;
        margin:0 0 0 0;
        grid-gap:1.5vw;
    }
    .grid_footer_item{
        text-align: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        margin:2vw 0 0 0;
        font-size:1vw;
        
    }
    .grid_footer_item li a {
       
        color: rgb(255, 255, 255);
        
        border-top:none;
        width: 1000px;
        border-left:none;
        border-right:none;
        top:-20px;
        overflow: hidden;
                       
        transform:scale(1);
        font-size:1vw;
    }
    .grid_footer_item a{
        
        color: rgb(255, 255, 255);
        text-decoration: none;
        border-top:none;
        width: 1000px;
        border-left:none;
        border-right:none;
        top:-20px;
        
        font-size:1vw;               
        
        transition:color 0.3s;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .grid_footer_item a:hover{
        color:rgb(153, 153, 153);
        
    }
    .footer_heading{
        padding-bottom: 2vw;
        border-bottom:solid rgb(248, 158, 56) 2px;
        font-size: 1.5vw;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: -webkit-linear-gradient(rgb(248, 158, 56),rgb(255, 189, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        
        
    }
    
    /* Bas de page */ 
        
    
}

