@media (max-width: 1023px){ 
   
    .div_message {
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
        text-shadow: 5px 5px black;
    }
    #img_logo_footer {
        height: 50em;
        border-radius: 50em;
    }
    .black_bg {
        background-color: #ffab40;
        position: relative;
        right: 0px;
        z-index: 0;
        transition: all 0.3s ease;
        height: 1000vh;
        top: 8vh;
        overflow: scroll;
    }
    .no_bg {
        position: relative;
        right: -1100px;
        z-index: 0;
        transition: all 0.3s ease;
        background-color: #ffab40;
        height: 1000vh;
        top: 8vh;
        overflow: scroll;
    }
    .texte_redirection {
        font-size: 2em;
        font-weight: bold;
        margin: 1.8em;
        color: black;
        text-shadow: none;
    }
    #footer_grid {
        background-color: #f9d3b9;
        background-size: 100%;
        width: 100%;
        margin: 23em 0 0 0;
        padding: 0 0 5em 0;
        border-top: solid (143, 143, 143) 4px;
    }
}
@media (min-device-width: 1024px) and (max-device-width: 1439px){
    .texte_redirection {
        font-size: 1em;
        font-weight: bold;
        margin: 1em;
    }
    #countdown {
        font-size: 24px;
        text-align: center;
        margin-top: 50px;
    }
    #retour {
        margin: 2em 0 2em 1em;
        width: 70%;
        height: 1.5em;
        border-radius: 2px;
        background-color: brown;
        color: white;
        border: solid brown 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
    }
    h2{
        font-size: 1em;
    }
    .div_message {
        margin-top: 15vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}
@media (min-device-width: 1440px) and (max-device-width: 1999px){
    .texte_redirection {
        font-size: 1em;
        font-weight: bold;
    }
    .div_message {
        margin-top: 12vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
    #retour {
        margin: 2em 0 2em 1em;
        width: 70%;
        height: 1.5em;
        border-radius: 2px;
        background-color: brown;
        color: white;
        border: solid brown 1px;
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px;
        transition: width 2s ease;
        transition: letter-spacing 1s ease;
        transition: all 0.5s ease;
    }
    h2{
        font-size: 1em;
    }
}
@media only screen and (min-width: 2000px){
    .texte_redirection {
        font-size: 1.8em;
        font-weight: bold;
        margin: 1em;
    }
    
    .div_message {
        margin-top: 10vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}