@media (max-width: 1023px){ 
    .div_message {
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}
@media (min-device-width: 1024px) and (max-device-width: 1439px){
    .div_message {
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}
@media (min-device-width: 1440px) and (max-device-width: 1999px){
    .div_message {
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}
@media only screen and (min-width: 2000px){
    .div_message {
        margin-top: 30vw;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 30px;
    }
}