@media (max-width: 1023px)  /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */
{
body {  
    margin: 0;  
    background: rgb(255, 255, 255);  
}  
/* showslide css*/
.showSlide,.showSlide21,.showSlide22,.showSlide23,.showSlide24,.showSlide25,.showSlide26,.showSlide27,.showSlide28,.showSlide29,.showSlide30 {  
    display: none  
}  



/* showslide css*/
    .showSlide img {  
        width: 100%;  
    }  
div.showSlide.grid_diapo{
    display: grid;
}
.slidercontainer { 
    height: 850px;
    margin-top: -150px;
    
     
     
}  
#left, #right
,#left2, #right2
,#left3, #right3
,#left4, #right4
,#left5, #right5 {  
    cursor: pointer;  
    position:relative;
    bottom:460px;
    width: 1.5em;  
    height:1.5em;
    
    margin: 0 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    
    opacity:1; 
    display: flex;
    justify-content: center;
    align-items: center;
} 
#button-Diapo11,#button-Diapo12
,#button-Diapo13,#button-Diapo14
,#button-Diapo15,#button-Diapo16
,#button-Diapo17,#button-Diapo18
,#button-Diapo19,#button-Diapo20{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: solid rgb(255, 255, 255) 0.5em;
    background-color: gray;
   
    
} 
#button-Diapo11 p,#button-Diapo12 p,
#button-Diapo13 p,#button-Diapo14 p,
#button-Diapo15 p,#button-Diapo16 p,
#button-Diapo17 p,#button-Diapo18 p,
#button-Diapo19 p,#button-Diapo20 p{
    font-size: 3em;
    margin: 0;
}

#right, #right2, #right3, #right4, #right5 {  
      
    border-radius: 3px 0 0 3px; 
    left:900px; 
    bottom:550px;
}  
    #button-Diapo11:hover,#button-Diapo12:hover,
    #button-Diapo13:hover,#button-Diapo14:hover,
    #button-Diapo15:hover,#button-Diapo16:hover,
    #button-Diapo17:hover,#button-Diapo18:hover,
    #button-Diapo19:hover,#button-Diapo20:hover {  
        background-color: rgb(228, 194, 0);  
        color:white;
        border:none;
    }  
    
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  

    -webkit-animation-name: fade;  
    -webkit-animation-duration: .5s;  
    animation-name: fade;  
    animation-duration: .5s; 
    
}  

@-webkit-keyframes fade {  
    from {  
        opacity: .81  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: 1  
    }  
    to {  
        opacity: 1  
    }  
}  
/* Fading animation */  
#image_royale1 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img1.jpg');
    width: 1040px;
    height: 827.19px;
   

    background-size: cover;
    display: flex;
    z-index: -1000;
    
}
#image_royale2 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img2.jpg');
    width: 1040px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale3 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img3.jpg');
    width: 1040px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale4 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img4.jpg');
    width: 1040px;
    height: 827.19px;
    
    display: flex;
    z-index: -1;
    background-size: cover;
    
    
}


} /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver */ /* phone ver *//* phone ver *//* phone ver */
/*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver */
@media (min-width: 1024px) 
{
    .showSlide {  
        display:none ;  
    }  
        .showSlide img {  
            width: 100%;  
        }  
    div.showSlide.grid_diapo{
        display: grid;
    }
    .slidercontainer { 
        height: auto;
        
         
        margin: auto;  
    }  
    .left, .right {  
        cursor: pointer;  
        position: absolute;  
        bottom: -38vw;
        left:10vw;
        width: 3vw;  
        height: 3vw;
        padding: 16px;  
          
        color: black;  
        font-weight: bold;  
        font-size: 60px;  
        transition: 0.6s ease;  
        border-radius: 10px;
        background-color: gray;
        opacity:0.78; 
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
    .button-Diapo:hover{
        cursor: pointer;
    }
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .right {  
        right: -20vw;  
        width: 3vw;  
        height: 3vw;
        position: absolute;
        left:85vw;
         
    }  
    .content {  
        color: #eff5d4;  
        font-size: 30px;  
        padding: 8px 12px;  
        position: absolute;  
        top: 10px;  
        width: 100%;  
        text-align: center;  
    }  
    .active {  
        background-color: #717171;  
    }  
    /* Fading animation */  
    .fade {  
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
      }
      @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
    
    
    #image_gradient1 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img1.jpg');
        width: 43vw;
        height: 30.6vw;
        background-size: cover;
        
        z-index: -1000;
        
    }
    #image_gradient2 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img2.jpg');
        width: 43vw;
        height: 30.6vw;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #image_gradient3 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img3.jpg');
        width: 43vw;
        height: 30.6vw;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #image_gradient4 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img4.jpg');
        width: 43vw;
        height: 30.6vw;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #image_grid_container{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

/* siteweb css*/
/*diapo chambre 1*/

#button-Diapo1,#button-Diapo2{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -68vw;
    left: 7vw;
    cursor:pointer;

}
#button-Diapo2{
    left:46vw;
} 
/*diapo chambre 1*/
/*diapo chambre 2*/
#button-Diapo3,#button-Diapo4{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -105vw;
    left: 7vw;
    cursor:pointer;

}
#button-Diapo4{
    left:46vw;
} 
/*diapo chambre 2*/
/*diapo chambre 3*/
#button-Diapo5,#button-Diapo6{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -141vw;
    left: 7vw;
    cursor:pointer;

}
#button-Diapo6{
    left:46vw;
} 
/*diapo chambre 3*/
/*diapo chambre 4*/
#button-Diapo7,#button-Diapo8{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -179vw;
    left: 7vw;
    cursor:pointer;
}
#button-Diapo8{
    left:46vw;
} 
/*diapo chambre 4*/
/*diapo chambre 5*/
#button-Diapo9,#button-Diapo10{
    width: 3vw;  
    height: 3vw;
    background-color: rgba(128, 128, 128, 0.479);
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -216vw;
    left: 7vw;
    cursor:pointer;

}
#button-Diapo10{
    left:46vw;
} 
/*diapo chambre 5*/


/* siteweb css*/
/*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver *//*web ver */