@media (max-width: 1023px)
{
body {  
    margin: 0;  
    background: #e6e6e6;  
}  
/* showslide css*/
.showSlide,.showSlide21,.showSlide22,.showSlide23,.showSlide24,.showSlide25,.showSlide26 {  
    display: none  
}  



/* showslide css*/
    .showSlide img {  
        width: 100%;  
    }  
div.showSlide.grid_diapo{
    display: grid;
}
.slidercontainer { 
    height: 850px;
    margin-top: -150px;
    
     
     
}  
#left, #right {  
    cursor: pointer;  
    position: absolute;  
    bottom: -1800px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
#left2, #right2 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -3000px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
} 
#left3, #right3 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -4200px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
#left4, #right4 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -5400px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
#left5, #right5 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -7050px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
#left6, #right6 {  
    cursor: pointer;  
    position: absolute;  
    bottom: -8650px;
    width: auto;  
    padding: 16px;  
    margin: 100px 15px 0 15px;  
    color: black;  
    font-weight: bold;  
    font-size: 60px;  
    transition: 0.6s ease;  
    border-radius: 10px;
    background-color: gray;
    opacity:0.78; 
}  
#right, #right2, #right3, #right4, #right5, #right6 {  
    right: -40px;  
    border-radius: 3px 0 0 3px;  
}  
    #left:hover, #right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    #left2:hover, #right2:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    #left3:hover, #right3:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    #left4:hover, #right4:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    #left5:hover, #right5:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    #left6:hover, #right6:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    position: absolute;  
    top: 10px;  
    width: 100%;  
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  
/* Fading animation */  
.fade {  

    -webkit-animation-name: fade;  
    -webkit-animation-duration: .5s;  
    animation-name: fade;  
    animation-duration: .5s; 
    
}  

@-webkit-keyframes fade {  
    from {  
        opacity: .8  
    }  
    to {  
        opacity: 1  
    }  
}  

@keyframes fade {  
    from {  
        opacity: .8  
    }  
    to {  
        opacity: 1  
    }  
}  

#image_royale1 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img1.jpg');
    width: 1023px;
    height: 827.19px;
    background-size: cover;
    display: flex;
    z-index: -1000;
    
}
#image_royale2 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img2.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale3 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img3.jpg');
    width: 1023px;
    height: 827.19px;
    display: flex;
    z-index: -1;
   
    background-size: cover;
    
    
}
#image_royale4 {
    background-image:
    linear-gradient(to bottom, rgba(214, 210, 210, 0.1), rgb(49, 49, 49)),
    url('images/img4.jpg');
    width: 1023px;
    height: 827.19px;
    
    display: flex;
    z-index: -1;
    background-size: cover;
    
    
}
.plus1{
    z-index: 2;
    width: 300px;
    height: 74.8px;
    color: white;
    letter-spacing: 6px;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    border: solid white 2px;
    display: flex;
    align-items: center;
    margin-top: 650px;
    margin-left: 350px;
    padding: 0x;
}

}
@media (min-width: 1024px)
{
    .showSlide {  
        display:none ;  
    }  
        .showSlide img {  
            width: 100%;  
        }  
    div.showSlide.grid_diapo{
        display: grid;
    }
    .slidercontainer { 
        height: auto;
        
         
        margin: auto;  
    }  
    .left, .right {  
        cursor: pointer;  
        position: absolute;  
        bottom: -38vw;
        left:10vw;
        width: 3vw;  
        height: 3vw;
        padding: 16px;  
          
        color: black;  
        font-weight: bold;  
        font-size: 60px;  
        transition: 0.6s ease;  
        border-radius: 10px;
        background-color: gray;
        opacity:0.78; 
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    
    .button-Diapo:hover{
        cursor: pointer;
    }
    .left:hover, .right:hover {  
        background-color: rgba(115, 115, 115, 0.8);  
    }  
    .right {  
        right: -20vw;  
        width: 3vw;  
        height: 3vw;
        position: absolute;
        left:85vw;
         
    }  
    .content {  
        color: #eff5d4;  
        font-size: 30px;  
        padding: 8px 12px;  
        position: absolute;  
        top: 10px;  
        width: 100%;  
        text-align: center;  
    }  
    .active {  
        background-color: #717171;  
    }  
    /* Fading animation */  
    .fade {  
        display: none;
    
        -webkit-animation-name: fade;  
        -webkit-animation-duration: 1s;  
        animation-name: fade;  
        animation-duration: 1s;
        animation-timing-function: ease-in-out ;  
    }  
    @-webkit-keyframes fade {  
        from {  
            opacity: .8 
        }  
        to {  
            opacity: 1  
        }  
    }  
    
    @keyframes fade {  
        from {  
            opacity: .8  
        }  
        to {  
            opacity: 1  
        }  
    } 
    #image_gradient1 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img1.jpg');
        width: 43vw;
        height: 30.6vw;
        background-size: cover;
        
        z-index: -1000;
        
    }
    #image_gradient2 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img2.jpg');
        width: 43vw;
        height: 30.6vw;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #image_gradient3 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img3.jpg');
        width: 43vw;
        height: 30.6vw;
        
        z-index: -1000;
       
        background-size: cover;
        
        
    }
    #image_gradient4 {
        background-image:
        linear-gradient(to bottom, rgba(255, 254, 254, 0.1), rgb(49, 49, 49, 0)),
        url('images/img4.jpg');
        width: 43vw;
        height: 30.6vw;
        
        
        z-index: -1000;
        background-size: cover;
        
        
    }
    #image_grid_container{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

/* siteweb css*/
/*diapo chambre 1*/

#button-Diapo1,#button-Diapo2{
    width: 3vw;  
    height: 3vw;
    background-color: grey;
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -13vw;

}
#button-Diapo2{
    left:47vw;
} 
/*diapo chambre 1*/
/*diapo chambre 2*/
#button-Diapo3,#button-Diapo4{
    width: 3vw;  
    height: 3vw;
    background-color: grey;
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -47vw;

}
#button-Diapo4{
    left:90vw;
} 
/*diapo chambre 2*/
/*diapo chambre 3*/
#button-Diapo5,#button-Diapo6{
    width: 3vw;  
    height: 3vw;
    background-color: grey;
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -79vw;

}
#button-Diapo6{
    left:47vw;
} 
/*diapo chambre 3*/
/*diapo chambre 4*/
#button-Diapo7,#button-Diapo8{
    width: 3vw;  
    height: 3vw;
    background-color: grey;
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -112vw;

}
#button-Diapo8{
    left:90vw;
} 
/*diapo chambre 4*/
/*diapo chambre 5*/
#button-Diapo9,#button-Diapo10{
    width: 3vw;  
    height: 3vw;
    background-color: grey;
    border:none;
    font-size:2vw;
    position: absolute;
    bottom: -145vw;

}
#button-Diapo10{
    left:47vw;
} 
/*diapo chambre 5*/


/* siteweb css*/