@media (min-width: 1023px)
{

body{
    background-color: rgb(255, 255, 255);
    overflow-x:hidden;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    
}
.heading{
    text-transform: uppercase;
    text-align: center;
}

/*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*//*Separation*/

}

/*mobile*/
@media (max-width: 1023px){
   
    
}