@font-face {
    font-family: 'BrushScriptOpti';
    src: url('BrushScriptOpti-Regular.woff2') format('woff2'),
        url('BrushScriptOpti-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#border{
    width:311px;
    height:197px;
    border: ridge goldenrod 5px ;
  
}
#cardsize{
    border: solid white 1px;
    width:311px;
    height:197px;
    border-top:solid goldenrod 1px;
    border-left: solid goldenrod 1px;
    
    
}
#img_carte{
    width: 80px;
    height: auto;
    margin-left: 115px;
    margin-top: -38px;
    position: relative;
    z-index: -1;
}
#texte{
    
    z-index: 100;
    background:goldenrod;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    
    font-family: 'BrushScriptOpti';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 2px;
    
    text-align: center;
    margin-top: 10px;
    
    

   
    
   
}
#grid_container{
    display:grid ;
    grid-template-columns: 1FR 1FR;
    text-align: center;
  
}
p{
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
    font-weight: normal;
}
#item_1{
 text-align: left;
 margin-left: 42px;
 
}
#grid_1{
   
    padding-right: 10px;
}
#item_2{
 text-align: left;
 border-left: solid goldenrod 2px  ;
 padding-left: 10px;
}
.grid_item{
    margin-top: -10px;
}
#texte_2{
    margin-top:-8px;
    font-weight: bold;
}
.color{
    color:goldenrod ;
}
#title{
    margin: 0px 0 5px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

